<label>{{label}}</label>
<a ng-click="GalleryStrucObj.add();" class="btn btn-success pull-right">Add {{label}}</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td ng-repeat="objKey in GalleryStrucObj.keyOf">{{objKey}}</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="objVal in GalleryStrucObj.valuesOf" ng-init="outerIndex=$index;">
            <td ng-repeat="objKey in GalleryStrucObj.keyOf ">
                <input type="text" class="form-control" createovalidation='GalleryStrucObj' objkey="{{$index}}" ng-model="objVal[objKey]" placeholder="{{objKey}}">
            </td>
           
            <td>
                <input class="btn btn-danger" type="button" ng-click="GalleryStrucObj.remove(objVal);" value="Delete">
            </td>
        </tr>
    </tbody>
</table>