<div class="page">
    <h2 class="title">
</h2>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Create Slider
                </div>
                <div class="panel-body">
                    <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">
                        <div class='form-group'>
                            <label>Title</label>
                            <input type='text' class='form-control' ng-model='slider.title' placeholder='Title' required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Image</label>
                            <div class="scroll-x">
                                <div class="img-box">
                                    <div ng-repeat="bill in slider.image" class="many-img" ng-if="slider.image.length>0">
                                        <img ng-src="{{bill | uploadpath}}">
                                        <button type="button" ng-click="removeimage(slider.image.indexOf(bill));" class="btn btn-danger close-btn"><i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="upload-div">
                                <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                                <div class="upload-buttons">
                                    <input type="file" name="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" multiple>
                                </div>
                                <div class="response" ng-show="uploadResult.length > 0">
                                    <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
<!--                                        {{result}}-->
                                        </div>
                                </span>
                                </div>
                            </div>
                        </div>
                        <!--Add New Tags-->
                        <div class="text-center" style="padding-bottom:20px;">
                            <button type="submit" class="btn btn-primary all-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
