<div>
    <h2 class="title">
</h2>
    <div class="page">

        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>{{menutitle}}
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="icon"><span class="glyphicon glyphicon-sunglasses"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text">
                                            <h3 class="text-center">{{user}}</h3>
                                            <p class="text-center">Total Donors</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--  <div class="col-md-4">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="icon"><span class="glyphicon glyphicon-envelope"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text">
                                            <h3 class="text-center">{{artwork}}</h3>
                                            <p class="text-center">Total Artwork</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> -->
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>