<div>
    <h2 class="title">
</h2>
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>{{menutitle}}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" ng-if="access.accesslevel =='admin' || access.accesslevel =='entry'">
                                <a href="#/donor">
                                    <div class="box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="icon"><i class="fa fa-users"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 0;">
                                                <div class="text">
                                                    <h3 class="text-center">{{allusers}}</h3>
                                                    <p class="text-center">Total Donors</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4" ng-if="access.accesslevel =='entry'" ng-click="goToFindEntry();">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="icon"><i class="fa fa-users"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text">
                                                <h3 class="text-center">{{user}}</h3>
                                                <p class="text-center">Total Donors For Your Camp</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="access.accesslevel =='verify'">
                                <a href="#/donor">
                                    <div class="box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="icon"><i class="fa fa-users"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text">
                                                    <h3 class="text-center">{{user}}</h3>
                                                    <p class="text-center">Total Donors For Your Camp</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4" ng-if="access.accesslevel =='verify'" ng-click="goToFindVerify();">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="icon"><i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text">
                                                <h3 class="text-center">{{verified}}</h3>
                                                <p class="text-center">Total Donors Verified</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="access.accesslevel =='gift'">
                                <a href="#/donor">
                                    <div class="box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="icon"><i class="fa fa-check"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text">
                                                    <h3 class="text-center">{{verified}}</h3>
                                                    <p class="text-center">Total Donors Verified</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4" ng-if="access.accesslevel =='gift'" ng-click="goToFindGift();">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="icon"><i class="fa fa-gift"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text">
                                                <h3 class="text-center">{{gifted}}</h3>
                                                <p class="text-center">Total Donors Gifted</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="access.accesslevel =='entry'">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th class="text-center">Bottle Number</th>
                                            <th class="text-center">Hospital</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="value in blood">
                                            <td class="text-center">{{value.number}}</td>
                                            <td class="text-center">{{value.hospital}}</td>
                                            <td class="text-center">{{value.used}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px" ng-if="access.accesslevel !='admin' && access.accesslevel !='gift'">
                            <div class="col-md-4">
                                <span style="margin-right: 5px;">Hospital</span>
                                <select style="min-width: 150px;height: 34px;" ng-model="hospitalid" ng-change="storeHospital(hospitalid);" ng-options="hospital._id as hospital.name for hospital in hospitals">
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
