<div>
    <h2 class="title">
    </h2>
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Show Donor
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="getFilterResults('id');">
                                <div class="col-md-2">
                                    <div class="search-box">
                                        <input type="search" ng-model="pagedata.donorid" placeholder="Donor ID">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 ">
                                    <div class="align">
                                        <button type="submit" class="btn btn-primary margtp btn-size">Donor Id</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-2 col-sm-4 col-xs-4 logo" ng-if="access.accesslevel == 'admin' || access.accesslevel == 'entry'">
                                <a href="#/createdonor" class="right btn btn-primary all-btn create-btn margtp btn-size">New Donor
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-4">
                                <div class="marright">
                                    <select ng-model="pagedata.limit" class="form-control select-size" ng-change="getFilterResults('limit');">
                                        <option value="20" selected>20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px">
                            <form ng-submit="getFilterResults('search');">
                                <div class="col-md-2">
                                    <div class="search-box max margtp">
                                        <input id="fullName" type="search" ng-model="pagedata.name" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-box max margtp">
                                        <input type="search" ng-model="pagedata.firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-box max margtp">
                                        <input type="search" ng-model="pagedata.middlename" placeholder="Middle Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-box max margtp">
                                        <input type="search" ng-model="pagedata.lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-box max margtp">
                                        <input type="search" ng-model="pagedata.pincode" placeholder="pincode">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-box max margtp">
                                        <input type="search" ng-model="pagedata.mobile" placeholder="mobile">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary margtp btn-size ">GO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row margtp mtop">
                            <div class="col-md-3 margtp" ng-if="access.accesslevel=='admin'">
                                <span class="margright ">Camp</span>
                                <select style="min-width: 150px;height: 34px;" ng-model="pagedata.campnumber" ng-change="showVenues();" ng-options="camp.campnumber as camp.campnumber for camp in camps">
                                </select>
                            </div>
                            <div class="col-md-3 margtp" ng-if="access.accesslevel=='admin'">
                                <span class="margtp margright">Venue</span>
                                <select style="min-width: 150px;height: 34px;" ng-model="pagedata.camp" ng-change="getFilterResults('venue')" ng-options="venue.value as venue.value for venue in venues">
                                </select>
                            </div>
                            <!--<form ng-submit="getFilterResults('search');">
                                <div class="col-md-3 search-box max margtp">
                                    <input type="search" ng-model="pagedata.mobile" placeholder="Mobile Number">
                                </div>{{pagedata.mobile}}
                            </form>-->
                        </div>
                        <div style="margin-top:20px;" ng-hide="showNoResult">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr class="bg-dark">
                                        <th class="text-center">Donor Id</th>
                                        <th class="text-center">Donor Name</th>
                                        <th class="text-center">Donor Pincode</th>
                                        <th class="text-center" colspan="2" ng-if="access.accesslevel == 'entry' || access.accesslevel == 'admin'">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in donor.data">
                                        <td class="text-center">{{value.donorid}}</td>
                                        <td class="text-center">{{value.name}}</td>
                                        <td class="text-center">{{value.pincode}}</td>
                                        <td class="text-center" ng-if="access.accesslevel == 'admin'"><a ng-click="deletefun(value._id)" class="btn btn-primary all-btn"><i class="fa fa-times"></i></a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#/editdonor/{{value._id}}" class="btn btn-primary all-btn">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li ng-class="page.class" ng-repeat="page in pages"><a ng-click="changePage(page);">{{page.pageno}}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="text-center row mtop" ng-show="showNoResult">
                            <h4>No results found</h4>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#fullName").focus();
    });
</script>