<div class="page">
    <h2 class="title">
</h2>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Edit Donor
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-if="access.accesslevel == 'admin'">
                                <label>Donation Count</label>
                                <input type='text' style="margin-left: 10px;" ng-model='donor.donationcount' placeholder='Donation Count' disabled>
                                <button type="button" class="btn btn-primary all-btn pull-right" ng-click="openHistory();">View History
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Donor Id</label>
                                <input type='text' class='form-control' ng-model='donor.donorid' placeholder='Donor Id' required disabled> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Family Id</label>
                                <input type='text' class='form-control' ng-model='donor.familyid' placeholder='Family Id' disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Last Name</label>
                                <input type='text' class='form-control' ng-model='donor.lastname' placeholder='Last Name' required capitalize-first> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class='form-group'>
                                <label>First Name</label>
                                <input type='text' class='form-control' ng-model='donor.firstname' placeholder='First Name' required capitalize-first> </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Middle Name</label>
                                <input type='text' class='form-control' ng-model='donor.middlename' placeholder='Middle Name' required capitalize-first> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class='form-group'>
                                <label>Email</label>
                                <input type='email' class='form-control' ng-model='donor.email' placeholder='Email' required> </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Donation Count</label>
                                <input type='text' class='form-control' ng-model='donor.donationcount' placeholder='Donation Count' readonly> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class='form-group'>
                                <label>Gender</label>
                                <input type='radio' name='gender' ng-model='donor.gender' value='Male'> Male
                                <input type='radio' name='gender' ng-model='donor.gender' value='Female'> Female</div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Blood Group</label>
                                <input type='text' class='form-control' ng-model='donor.bloodgroup' placeholder='Blood Group' disabled> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class='form-group'>
                                <label>Birth date</label>
                                <input type='date' class='form-control' ng-model='donor.birthdate' placeholder='Birth date' ng-change="calculate();" required> </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Age</label>
                                <input type='text' class='form-control' ng-model='donor.age' placeholder='Age' readonly>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class='form-group ui-selecter'>
                                <label for='exampleInputEmail1'>Select Village</label>
                                <div class='form-group'>
                                    <ui-select multiple tagging tagging-label='false' ng-model='donor.village' on-select='ismatchVillage(donor.village,$select);'>
                                        <ui-select-match placeholder='Select Village'>{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat='person in village track by person._id' refresh='refreshVillage($select.search,$select.selected)' refresh-delay='0'>
                                            <div ng-bind-html='person.name'></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Previous Name</label>
                                <input type='text' class='form-control' ng-model='donor.previousname' placeholder='Previous Name' capitalize-first> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class='form-group'>
                                <label for='exampleInputEmail1'>Address</label>
                                <textarea class='form-control' ng-model='donor.address' placeholder='Address' capitalize-first></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Area</label>
                                <input type='text' class='form-control' ng-model='donor.area' placeholder='Area' capitalize-first> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>City</label>
                                <input type='text' class='form-control' ng-model='donor.city' placeholder='City' capitalize-first> </div>
                        </div>
                        <div class="col-md-6">

                            <div class='form-group'>
                                <label>Pincode</label>
                                <input type='text' class='form-control' ng-model='donor.pincode' placeholder='Pincode' required> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Mobile no</label>
                                <input type='text' class='form-control' ng-model='donor.mobileno' placeholder='Mobile no'>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group" ng-if="access.accesslevel == 'entry'">
                                <label>Hospital</label>
                                <select class='form-control' ng-model="donor.hospital" ng-options="hospital._id as hospital.name for hospital in hospitals">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label>Weight (in kgs.)</label>
                                <input type='text' class='form-control' ng-model='donor.weight' placeholder='Weight (in kgs.)'>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class='form-group' ng-show="showbottle">
                                <label>Bottle Number</label>
                                <input id="bottle" type='text' class='form-control' ng-model='donor.bottle' placeholder='Bottle Number' required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group text-center">
                                <span ng-if="bottleExist==0" style="color:red;"><b>Bottle Number Already Exists. Please Change Bottle Number.</b></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group text-center">
                                <span ng-if="showfail == 1"><b>Some error. Please submit again.</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group text-center" ng-show="showAgeError">
                                <span><b>Your age should be between 18 and 70</b></span>
                            </div>
                        </div>

                    </div>


                    <!--Add New Tags-->
                    <div class="text-center" style="padding-bottom:20px;" ng-if="access.accesslevel == 'admin' || access.accesslevel == 'entry'">
                        <button type="button" class="btn btn-primary all-btn" ng-click="savedonor();">Submit
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
