<div class="print">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="white-bg">
                <span class="ngdialog-close close"></span>
                <table class="table table-bordered ">
                    <thead>
                        <tr class="bg-dark">
                            <th class="text-center">Sr No.</th>
                            <th class="text-center">Camp Number</th>
                            <th class="text-center">Camp Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ngDialogData.isWeb" ng-repeat="value in ngDialogData.history | orderBy:'date'">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-center">{{value.campnumber}}</td>
                            <td class="text-center">{{value.date | date : 'mediumDate' }}</td>
                        </tr>
                        <tr ng-if="!ngDialogData.isWeb" ng-repeat="value in ngDialogData.history">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-center">{{"App Donation_001 " + value.campnumber}}</td>
                            <td class="text-center">{{value.date | date : 'mediumDate' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>