<div ng-controller="oldDonorCtrl">
    <h2 class="title"></h2>
    <div class="page">
        <div class="row" ng-if="access == 'admin' || access == 'entry'">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Search Donor
                    </div>
                    <div class="panel-body">
                        <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">
                            <div class="bot search-box">
                                <input type="search" name="search" ng-model="donor.search" placeholder="Search" />
                                <button type="submit" class="btn btn-primary all-btn">Search</button>
                            </div>
                            <div class="form-group text-center">
                                <span ng-if="isValidLogin==0">No data found</span>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <div class="row" ng-if="access == 'verify'">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Show Donor
                    </div>
                    <div class="panel-body">
                        <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">
                            <div class="bot search-box">
                                <input type="search" name="search" ng-model="donor.search" placeholder="Search" />
                                <button type="submit" class="btn btn-primary all-btn">Search</button>
                            </div>
                            <div class="form-group text-center">
                                <span ng-if="isValidLogin==0">No data found</span>
                            </div>
                            <div class="bot search-box" ng-if="isValidLogin == 0">
                                <div class='form-group'>
                                    <label>Donor ID</label>
                                    <input class="form-control" type="text" ng-model="donor.donorid" placeholder="Donor ID" disabled/>
                                </div>
                                <div class='form-group'>
                                    <input type="checkbox" ng-model="donor.verified" value="yes">Done
                                </div>
                                <button type="button" class="btn btn-primary all-btn" ng-click="verify();">Submit</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <div class="row" ng-if="access == 'gift'">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Show Donor
                    </div>
                    <div class="panel-body">
                        <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">
                            <div class="bot search-box">
                                <input type="search" name="search" ng-model="donor.search" placeholder="Search" />
                                <button type="submit" class="btn btn-primary all-btn">Search</button>
                            </div>
                            <div class="form-group text-center">
                                <span ng-if="isValidLogin==0">No data found</span>
                            </div>
                            <div class="bot search-box" ng-if="isValidLogin == 0">
                                <div class='form-group'>
                                    <label>Donor ID</label>
                                    <input class="form-control" type="text" ng-model="donor.donorid" placeholder="Donor ID" disabled/>
                                </div>
                                <div class='form-group'>
                                    <label>Donation Count</label>
                                    <input class="form-control" type="text" ng-model="donor.donationcount" placeholder="Donation Count" disabled/>
                                </div>
                                <div class='form-group'>
                                    <input type="checkbox" ng-model="donor.giftdone" value="yes">Done
                                </div>
                                <button type="button" class="btn btn-primary all-btn" ng-click="gift();">Submit</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
