<div ng-controller="oldDonorCtrl">
    <h2 class="title"></h2>
    <div class="page">
        <div class="row" ng-if="access == 'verify'">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Show Donor
                    </div>
                    <div class="panel-body">
                        <div class="bot search-box">
                            <input type="search" name="search" ng-model="searchdonor.search" placeholder="Search" capitalize-first/>
                            <button type="submit" class="btn btn-primary all-btn" ng-click="submitForm1()">Search</button>
                        </div>
                        <div style="margin-top:10px;" ng-if="isValidLogin==2">
                            <div class="form-group text-center">
                                <span ng-show="showerror2"><b>Donor already verified.</b></span>
                            </div>
                            <div class="form-group text-center">
                                <span ng-show="showtrue"><b>Donor verified.</b></span>
                            </div>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr class="bg-dark">
                                        <th class="text-center">Donor Id</th>
                                        <th class="text-center">Donor Name</th>
                                        <th class="text-center">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in donor">
                                        <td class="text-center">{{value.donorid}}</td>
                                        <td class="text-center">{{value.name}}</td>
                                        <td class="text-center">
                                            <a href="" class="btn btn-primary all-btn" ng-click="openverify(value);">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group text-center">
                            <span ng-if="isValidLogin==0"><b>No data found</b></span>
                        </div>
                        <div class="bot search-box" ng-if="isValidLogin==1">
                            <div class="form-group text-center">
                                <span ng-if="showerror==0"><b>Please select Done.</b></span>
                            </div>
                            <div class='form-group'>
                                <label>Donor ID</label>
                                <input type="text" class="form-control" ng-model="editdonor.donorid" placeholder="Donor ID" disabled/>
                            </div>
                            <div class='form-group'>
                                <input type="checkbox" ng-model="editdonor.verified">Done
                            </div>
                            <button type="button" class="btn btn-primary all-btn" ng-click="verify();">Submit</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row" ng-if="access == 'gift'">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Show Donor
                    </div>
                    <div class="panel-body">
                        <div class="bot search-box">
                            <input type="search" name="search" ng-model="searchdonor.search" placeholder="Search" capitalize-first/>
                            <button type="submit" class="btn btn-primary all-btn" ng-click="submitForm2()">Search</button>
                        </div>
                        <div style="margin-top:10px;" ng-if="isValidLogin==2">
                            <div class="form-group text-center">
                                <span ng-show="showerror2"><b>Gift already saved for donor.</b></span>
                            </div>
                            <div class="form-group text-center">
                                <span ng-show="showtrue"><b>Gift saved.</b></span>
                            </div>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr class="bg-dark">
                                        <th class="text-center">Donor Id</th>
                                        <th class="text-center">Donor Name</th>
                                        <th class="text-center">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in donor">
                                        <td class="text-center">{{value.donorid}}</td>
                                        <td class="text-center">{{value.name}}</td>
                                        <td class="text-center">
                                            <a href="" class="btn btn-primary all-btn" ng-click="opengift(value);">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group text-center">
                            <span ng-if="isValidLogin==0"><b>No data found</b></span>
                        </div>
                        <div class="bot search-box" ng-if="isValidLogin==1">
                            <div class="form-group text-center">
                                <span ng-if="showerror==0"><b>Please select Done.</b></span>
                            </div>
                            <div class='form-group'>
                                <label>Donor ID</label>
                                <input type="text" class="form-control" ng-model="editdonor.donorid" placeholder="Donor ID" disabled/>
                            </div>
                            <div class='form-group'>
                                <label>Donation Count</label>
                                <input type="text" ng-model="editdonor.donationcount" placeholder="Donation Count" disabled/>
                            </div>
                            <div class='form-group'>
                                <input type="checkbox" ng-model="editdonor.giftdone">Done
                            </div>
                            <button type="button" class="btn btn-primary all-btn" ng-click="gift();">Submit</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- <div class="row" ng-if="access == 'gift'">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Show Donor
                    </div>
                    <div class="panel-body">
                        <div class="bot search-box">
                            <input type="search" name="search" ng-model="donor.search" placeholder="Search" capitalize-first/>
                            <button type="submit" class="btn btn-primary all-btn" ng-click="submitForm2()">Search</button>
                        </div>
                        <div class="form-group text-center">
                            <span ng-if="isValidLogin==0">No data found</span>
                        </div>
                        <div class="bot search-box" ng-if="isValidLogin == 1">
                            <div class='form-group'>
                                <label>Donor ID</label>
                                <input type="text" ng-model="donor.donorid" placeholder="Donor ID" disabled/>
                            </div>
                            <div class='form-group'>
                                <label>Donation Count</label>
                                <input type="text" ng-model="donor.donationcount" placeholder="Donation Count" disabled/>
                            </div>
                            <div class='form-group'>
                                <input type="checkbox" ng-model="donor.giftdone" value="yes">Done
                            </div>
                            <button type="button" class="btn btn-primary all-btn" ng-click="gift();">Submit</button>
                            <div class="form-group text-center">
                                <span ng-if="showerror==0">Please select done.</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div> -->
    </div>
</div>
