<div>
    <h2 class="title">
</h2>
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Printing Rules
                    </div>
                    <div class="panel-body">
                        <img src="img/printingrules.png" alt="" class="img-responsive">
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
