<section class="panel panel-default" style="border-radius:0px">
    <div class="panel-heading panel-hdr">Artist Sub Navigation</div>

    <div class="panel-body">
        <div class="">
            <a href="#/wishlistfolder/{{usr}}" class="all-btn btn  btn-block">Whislist Folder <span class="badge">{{foldercount}}</span></a>
            <a href="#/wishlist/{{usr}}" class="all-btn btn  btn-block">Wishlist <span class="badge">{{sharecount}}</span></a>
            <a href="#/artwork/{{usr}}" class="all-btn btn  btn-block">Artwork <span class="badge">{{feedcount}}</span></a>
            <a href="#/cart/{{usr}}" class="all-btn btn  btn-block">Cart <span class="badge">{{feedcount}}</span></a>
        </div>
    </div>

</section>